<!-- <h1>Session#new</h1>
<p>Find me in app/views/session/new.html.erb</p> -->
<!-- <div class="container">
<h1>Login</h1>

<%= form_tag login_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag "Login" %>
<% end %>
</div> -->



 <div class="row">
   <div class="col-lg-6">

  <h1>Login</h1>
    <%= form_tag login_path do %>

     <fieldset class="form-group">
         <%= label_tag :email %>
         <%= text_field_tag :email, nil, :class => 'form-control', :placeholder => "Email" %>
      </fieldset>

      <fieldset class="form-group">
        <%= label_tag :password %>
        <%= password_field_tag :password, nil, :class => 'form-control', :placeholder => "Password"%>
      </fieldset>

      <fieldset class="form-group">
        <%= submit_tag "Login", :class => 'btn btn-success'%>

      </fieldset>
      <% end %>
   </div>
 </div>
