<script language="javascript">

// Get the context of the canvas element we want to select
//var ctx = document.getElementById("myChart").getContext("2d");
$(function(){

var weight_canvas = $("#weightChart").get(0).getContext("2d");
//var myNewChart = new Chart(ctx);


var weight_data = {
    labels: [
    <% @current_user.measurements.each do |deets| %>
      "<%= deets.created_at.strftime('%d %b') %>",
    <% end %>
  ],


    datasets: [
        {
            label: "Weight",
            fillColor: "rgba(0,255,0,0.2)", //"rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [ <%= @current_user.measurements.pluck(:weight).join(', ') %> ]
        }
    ]
};
var weight_chart = new Chart(weight_canvas).Line(weight_data);




var waist_canvas = $("#waistChart").get(0).getContext("2d");
//var myNewChart = new Chart(ctx);


var waist_data = {
    labels: [
    <% @current_user.measurements.each do |deets| %>
      "<%= deets.created_at.strftime('%d %b') %>",
    <% end %>
  ],


    datasets: [
        {
            label: "Waist",
            fillColor: "rgba(0,255,0,0.2)", //"rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [ <%= @current_user.measurements.pluck(:waist).join(', ') %> ]
        }
    ]
};
var waist_chart = new Chart(waist_canvas).Line(waist_data);




var thighs_canvas = $("#thighsChart").get(0).getContext("2d");
//var myNewChart = new Chart(ctx);


var thighs_data = {
    labels: [
    <% @current_user.measurements.each do |deets| %>
      "<%= deets.created_at.strftime('%d %b') %>",
    <% end %>
  ],


    datasets: [
        {
            label: "thighs",
            fillColor: "rgba(0,255,0,0.2)", //"rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [ <%= @current_user.measurements.pluck(:thighs).join(', ') %> ]
        }
    ]
};
var thighs_chart = new Chart(thighs_canvas).Line(thighs_data);




var stomach_canvas = $("#stomachChart").get(0).getContext("2d");
//var myNewChart = new Chart(ctx);


var stomach_data = {
    labels: [
    <% @current_user.measurements.each do |deets| %>
      "<%= deets.created_at.strftime('%d %b') %>",
    <% end %>
  ],


    datasets: [
        {
            label: "stomach",
            fillColor: "rgba(0,255,0,0.2)", //"rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [ <%= @current_user.measurements.pluck(:stomach).join(', ') %> ]
        }
    ]
};
var stomach_chart = new Chart(stomach_canvas).Line(stomach_data);




var hips_canvas = $("#hipsChart").get(0).getContext("2d");
//var myNewChart = new Chart(ctx);


var hips_data = {
    labels: [
    <% @current_user.measurements.each do |deets| %>
      "<%= deets.created_at.strftime('%d %b') %>",
    <% end %>
  ],


    datasets: [
        {
            label: "hips",
            fillColor: "rgba(0,255,0,0.2)", //"rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [ <%= @current_user.measurements.pluck(:hips).join(', ') %> ]
        }
    ]
};
var hips_chart = new Chart(hips_canvas).Line(hips_data);



var upper_arm_right_canvas = $("#upper_arm_rightChart").get(0).getContext("2d");
//var myNewChart = new Chart(ctx);


var upper_arm_right_data = {
    labels: [
    <% @current_user.measurements.each do |deets| %>
      "<%= deets.created_at.strftime('%d %b') %>",
    <% end %>
  ],


    datasets: [
        {
            label: "upper_arm_right",
            fillColor: "rgba(0,255,0,0.2)", //"rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [ <%= @current_user.measurements.pluck(:upper_arm_right).join(', ') %> ]
        }
    ]
};
var upper_arm_right_chart = new Chart(upper_arm_right_canvas).Line(hips_data);




var upper_arm_left_canvas = $("#upper_arm_leftChart").get(0).getContext("2d");
//var myNewChart = new Chart(ctx);


var upper_arm_left_data = {
    labels: [
    <% @current_user.measurements.each do |deets| %>
      "<%= deets.created_at.strftime('%d %b') %>",
    <% end %>
  ],


    datasets: [
        {
            label: "upper_arm_left",
            fillColor: "rgba(0,255,0,0.2)", //"rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [ <%= @current_user.measurements.pluck(:upper_arm_left).join(', ') %> ]
        }
    ]
};
var upper_arm_left_chart = new Chart(upper_arm_left_canvas).Line(hips_data);


});
</script>

<div id="wrapper">
<!-- <canvas id="myChart" width="600" height="400"></canvas> -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li>
            <a href="#weight">Total Weight Lost</a>
        </li>
        <li>
            <a href="#waist">Waist</a>
        </li>
        <li>
            <a href="#thighs">Thighs</a>
        </li>
        <li>
            <a href="#stomach">Stomach</a>
        </li>
        <li>
            <a href="#hips">Hips</a>
        </li>
        <li>
            <a href="#rightArm"></i> Upper Right Arm</a>
        </li>
        <li>
            <a href="#leftArm">Upper Left Arm</a>
        </li>
    </ul>
</div>

<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 ">

  <h1>Track Your Results</h1>

  <h3 id="weight">Weight</h3>
  <canvas id="weightChart" width="600" height="400"></canvas>

  <h3 id="waist">Waist</h3>
  <canvas id="waistChart" width="600" height="400"></canvas>

  <h3 id="thighs">Thighs</h3>
  <canvas id="thighsChart" width="600" height="400"></canvas>

  <h3 id="stomach">Stomach</h3>
  <canvas id="stomachChart" width="600" height="400"></canvas>

  <h3 id="hips">Hips</h3>
  <canvas id="hipsChart" width="600" height="400"></canvas>

  <h3 id="rightArm">Upper Arm Right</h3>
  <canvas id="upper_arm_rightChart" width="600" height="400"></canvas>

  <h3 id="leftArm">Upper Arm Left</h3>
  <canvas id="upper_arm_leftChart" width="600" height="400"></canvas>

</div>
</div>
</div>
</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
