<!-- <h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p> -->

<div class="row">
<div class="col-lg-6">
<h1>Edit Your Details</h1>
<%= form_for @user do |f| %>

<fieldset class="form-group">
<%= f.label :email %>
<%= f.email_field :email, :class => 'form-control' %>
</fieldset>

<fieldset class="form-group">
<%= f.label :password %>
<%= f.password_field :password, :class => 'form-control' %>
</fieldset>

<fieldset class="form-group">
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation, :class => 'form-control' %>
</fieldset>

<fieldset class="form-group">
<%= f.label :image%>
<%= f.url_field :image, :class => 'form-control' %>
</fieldset>

<fieldset class="form-group">
<%= f.submit "Update", :class => 'btn btn-success' %>
</fieldset>


<% end %>
</div>
</div>
<!-- t.text "height"
t.text "weight"
t.text "waist"
t.text "chest"
t.text "thighs"
t.text "stomach"
t.text "hips"
t.text "upper_arm_right"
t.text "upper_arm_left" -->
