<!-- <h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p> -->

<h1>EDIT USER</h1>
<%= form_for @user do |f| %>
<%= f.label :email %>
<%= f.email_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>

<%= f.label :image%>
<%= f.url_field :image %>

<%= f.submit %>
<% end %>
<!-- t.text "height"
t.text "weight"
t.text "waist"
t.text "chest"
t.text "thighs"
t.text "stomach"
t.text "hips"
t.text "upper_arm_right"
t.text "upper_arm_left" -->
