<!-- <h1>Measurement#new</h1>
<p>Find me in app/views/measurement/new.html.erb</p> -->

<div class="container">
  <h1>Enter Your Measurements</h1>
  <div class="row">
    <div class="col-lg-6">
      <%= form_for([@user, @measurement]) do |f| %>
        <fieldset class="form-group">
        <%= f.label :weight %>
        <%= f.text_field :weight,:class => 'form-control'%>
       </fieldset>

       <fieldset class="form-group">
        <%= f.label :waist %>
        <%= f.text_field :waist, :class => 'form-control' %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :thighs %>
        <%= f.text_field :thighs, :class => 'form-control' %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :stomach %>
        <%= f.text_field :stomach, :class => 'form-control' %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :hips %>
        <%= f.text_field :hips, :class => 'form-control' %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :upper_arm_right %>
        <%= f.text_field :upper_arm_right, :class => 'form-control' %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :upper_arm_left %>
        <%= f.text_field :upper_arm_left, :class => 'form-control' %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.submit "Submit", :class => 'btn btn-success' %>
      <fieldset>

      <%end %>
    </div>
  </div>
</div>
