<!DOCTYPE html>
<html>
<head>
  <title>FitTracker</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/users"><i class="fa fa-heartbeat"></i> Fit Tracker</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if @current_user  %>
            <li><a href="/users/dashboard"><i class="fa fa-tachometer"></i> Results <span class="sr-only">(current)</span></a></li>
            <li><%=link_to("Add Measurements", new_user_measurement_path(@current_user.id)) if @current_user %></li>
          <% end %>

        </ul>

        <ul class="nav navbar-nav navbar-right">

          <% if @current_user.present? %>
           <% if @current_user.admin? %>
           <%= link_to 'All Users', users_path %>
          <% end %>
                      <li><%= link_to "Logout #{@current_user.email}", login_path, :method => :delete %></li>
                      <li><%= link_to "Edit Profile", edit_user_path(@current_user) %></li>
                    <% else %>
                      <li><a href="users/new"><i class="fa fa-user-plus"></i> Sign Up</a></li>
                      <li><a href="/login"><i class="fa fa-user"></i> Login</a></li>
                    <% end %>
             </nav>
        </div>
        <% if flash[:error].present? %>
        <h2> class="error"
         <%= flash[:error] %>
        </h2>
        <% end %>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container">


<%= yield %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<script   src="https://code.jquery.com/jquery-2.2.2.js"   integrity="sha256-4/zUCqiq0kqxhZIyp4G0Gk+AOtCJsY1TA00k5ClsZYE="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
